{% extends 'base.html' %}
{% block body%}
<div class="container">
    <div class="row mt-3 border-bottom">
        <div class="col-4">
            <label for="" class="float-left">Name:</label>
            <input type="text" class="float-end" name="" id=""><br><br>
            <label for="" class="float-start">alias:</label>
            <input type="text" class="float-end" name="" id=""><br>
        </div>
        <div class="col-8"></div>
    </div>
    <div class="row">
        <div class="col-5"></div>
        <div class="col-5"></div>
        <div class="col-2"></div>
    </div>
</div>






{% endblock body%}