{% extends "base.html" %}
{% load static %}
{% block body %}
<script src="{% static 'js/script.js' %}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div class="conatiner font-monospace">

    <form action="create_ledger" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">

            <div class="col-1"></div>
            <div class="col-10">
                <div class=" bg-light w-100 min-vh-100">
                    <div class="row border-bottom w-100 mt-1 m-0 p-0" style="min-height: 120px;">
                        <div class="w-100 border-bottom font-monospace text-black text-center"
                            style="background-color:#b3d5d8ce ;">
                            Ledger Creation [{{s.cname}}]</div>
                        <div class="col-9  border">
                            <div class="float-start  p-4">
                                <label for="name" class="float-start font-monospace">Name:</label>
                                <input name="Lname" type="text" class=" w-75 float-end border" required><br><br>
                                <label for="" class="font-monospace float-start">alias:</label>
                                <input name="Lalias" type="text" class=" w-75 float-end border" required><br>
                            </div>
                        </div>
                        <div class="col-3 border-bottom text-center">
                            <p class="border-bottom font-monospace">Total Opening Balance</p>
                        </div>
                    </div>
                    <div id="bdy">
                        <div class="row">

                            <div class="col-6 p-4">
                                <label for="name" class="float-start my-2">Under:</label>
                                <select required id="under" onchange="h();" name="Lund"
                                    class="w-75 form-control float-end me-5">
                                    <!-- <option value="primary" selected>*Primary</option> -->
                                    <option value="" selected disabled>select group</option>
                                    {% for i in grp %}
                                    <option onclick="undertaker('{{i.under}}',(this.value))" value="{{i.name}}">
                                        {{i.name}}
                                    </option><br>

                                    {% if i.alias is not none %}
                                    <option onclick="undertaker('{{i.under}}',(this.value))" value="{{i.alias}}">
                                        {{i.alias}}
                                    </option>
                                    {% endif %}

                                    {% endfor %}
                                </select><br>

                                <small class=" mt-3" style="margin-left: 10%;position: static;" id="und"></small>


                            </div>

                            <div id="all">
                                <div class="row" style="position: static;">

                                    <div id="OD" class="col-6 px-4 mx-2 border-end float-start" style="display: none;">
                                        <label for="" class="float-start">Set OD limit:</label>
                                        <input name="B_od_limit" type="number" class="float-end  me-5 ">
                                    </div>

                                    <div id="ledg" class="col-6 p-4 mx-2 border-end float-start" style="display: none;">
                                    </div>
                                    <div class="col-6 p-4 mx-2 border-end float-start">

                                        <div id="bank_ac_details" style="display: none;">
                                            <h6 class="text-decoration-underline flaot-start mb-3"
                                                style="color: rgb(52, 52, 136);">
                                                Bank Account Details</h6>

                                            <div id="grp">
                                                <label for="" class="float-start">A/c Holder's Name:</label>
                                                <input name="B_ac_name" type="text" class="float-end  me-5 ">
                                            </div><br><br>
                                            <div id="grp">
                                                <label for="" class="float-start">A/c No:</label>
                                                <input name="B_ac_no" type="text" class="float-end  me-5">
                                            </div><br><br>
                                            <div id="grp">
                                                <label for="" class="float-start">IFSC Code:</label>
                                                <input name="B_ac_ifsc" type="text" class="float-end me-5">
                                            </div><br><br>
                                            <div id="grp">
                                                <label for="" class="float-start">SWIFT Code:</label>
                                                <input name="B_ac_swift" type="text" class="float-end  me-5">
                                            </div><br><br>
                                            <div id="grp">
                                                <label for="" class="float-start">Bank Name:</label>
                                                <input name="B_name" type="text" class="float-end  me-5">
                                            </div><br><br>
                                            <div id="grp">
                                                <label for="" class="float-start">Branch:</label>
                                                <input name="B_branch" type="text" class="float-end  me-5">
                                            </div><br><br>

                                            <!-- ---------------------------- -->
                                            <h6 class="text-decoration-underline flaot-start mb-3"
                                                style="color: rgb(52, 52, 134);">
                                                Bank Configuaration</h6>
                                            <div id="grp">
                                                <label for="" class="float-start">Set/Alter range for cheque
                                                    Books:</label>
                                                <select id="subled" name="B_alter_chq_bks" class=" float-end me-5  "
                                                    style="max-width: 70px;">
                                                    <option value="True">Yes</option>
                                                    <option value="False" selected>No</option>

                                                </select><br><br>
                                            </div>
                                            <div id="grp">
                                                <label for="" class="float-start">Enable cheque printing:</label>
                                                <select id="subled" name="B_name_enbl_chq_prtg" class=" float-end me-5"
                                                    style="max-width: 70px;">
                                                    <option value="True" selected>Yes</option>
                                                    <option value="False">No</option>

                                                </select><br><br>
                                            </div>
                                            <!-- <div id="grp">
                                            <label for="" class="float-start">Set/Alter Cheque Printing
                                                Configuaration:</label>
                                            <select id="subled" name="" class=" float-end me-5"
                                                style="max-width: 70px;">
                                                <option value="True">Yes</option>
                                                <option value="False" selected>No</option>

                                            </select><br><br>
                                        </div> -->
                                        </div>
                                        <div id="main_balance_bill_" style="display: none;">
                                            <label for="" class="float-start">Maintain balances bill-by-bill:</label>
                                            <select id="subled" name="main_balance_bill_" class=" float-end me-5">
                                                <option value="True" selected>Yes</option>
                                                <option value="False">No</option>
                                            </select><br><br>
                                        </div>
                                        <div id="def_cr_period" style="display: none;">
                                            <label for="" class="float-start">Default credit period:</label>

                                            <input name="def_cr_period" type="text" class="float-end  me-5">
                                            <br><br>
                                        </div>

                                        <div id="chk_credit_days" style="display: none;">
                                            <label for="" class="float-start">check for credit days during voucher
                                                entry:</label>
                                            <select id="subled" name="chk_credit_days" class=" float-end me-5">
                                                <option value="True" selected>Yes</option>
                                                <option value="False">No</option>
                                            </select><br><br>
                                        </div>
                                        <div id="typ_of_ledg" style="display: none;">
                                            <label for="" class="float-start">Type of Ledger:</label>
                                            <select id="subled" name="typ_of_ledg" class=" float-end ">
                                                <option value="" selected>Not applicable</option>
                                                <option value="Discount">Discount</option>
                                                <option value="Invoice Rounding">Invoice Rounding</option>
                                            </select><br><br>
                                        </div>
                                        <div id="typ_of_duty" style="display: none;">
                                            <label for="" class="float-start">Type of duty/tax:</label>
                                            <select id="subled" name="typ_of_duty" class=" float-end me-5">
                                                <option value="Others" selected>Others</option>
                                                <option value="GST">GST</option>

                                            </select><br><br>
                                        </div>
                                        <div id="percet_of_calc" style="display: none;">
                                            <label for="" class="float-start">Percentage of calculation:</label>
                                            <input placeholder="0%" name="percet_of_calc" type="text"
                                                class="float-end  me-5">
                                        </div>
                                        <div id="Satutory_details" style="display: none;;">
                                            <h6 class="text-decoration-underline flaot-start mb-3"
                                                style="color: rgb(52, 52, 134);">
                                                Statutory Details</h6>
                                            <div id="assemble_satu" style="display: none;">
                                                <label for="" class="float-start">include in assessable calculation
                                                    for:</label>
                                                <select id="subled" name="assemble_value" class=" float-end ">
                                                    <option value="">Not applicable</option>
                                                    <option value="GST">GST</option>
                                                </select><br><br>
                                            </div>
                                            <div id="is_gst_applicable" style="display: none;">
                                                <label for="" class="float-start">Is GST applicable:</label>
                                                <select id="subled" name="is_gst_applicable" class=" float-end ">
                                                    <option value="Applicable" selected>Applicable</option>
                                                    <option value="">Not applicable</option>
                                                    <option value="Undefined">Undefined</option>
                                                </select><br><br>
                                            </div>

                                            <div id="typ_of_suply" style="display: none;">
                                                <label for="" class="float-start">Type of Supply:</label>
                                                <select id="subled" name="typ_of_supply" class=" float-end ">
                                                    <option value="Goods">Goods</option>
                                                    <option value="" selected>Service</option>

                                                </select>
                                            </div>


                                        </div>




                                    </div>
                                    <div id="f2" class="col-5 pt-4">
                                        <div id="">

                                            <div id="mail_name" style="display: none;">
                                                <h6 class="text-decoration-underline flaot-start mb-3"
                                                    style="color: rgb(52, 52, 134);">
                                                    Mailing Details</h6>
                                                <label for="" class="float-start">Name:</label>
                                                <input name="Mname" type="text" class="float-end ">
                                            </div><br><br>
                                            <div id="mail_address" style="display: none;">
                                                <label for="" class="float-start">Address:</label>
                                                <input name="Maddress" type="text" class="float-end ">
                                            </div><br><br>
                                            <div id="mail_state" style="display: none;">
                                                <label for="" class="float-start">State:</label>
                                                <input name="Mstate" type="text" class="float-end ">
                                            </div><br><br>
                                            <div id="mail_country" style="display: none;">
                                                <label for="" class="float-start">Country:</label>
                                                <input name="Mcountry" type="text" class="float-end ">
                                            </div><br><br>
                                            <div id="mail_pincode" style="display: none;">
                                                <label for="" class="float-start">Pincode</label>
                                                <input name="Mpincode" type="text" class="float-end ">
                                            </div><br><br>
                                        </div>
                                        <div id="provide_banking" class="Banking_details" style="display: none;">
                                            <h6 class="text-decoration-underline flaot-start mb-3"
                                                style="color: rgb(52, 52, 134);">
                                                Provide Banking Details</h6>
                                            <div id="provide_ba">
                                                <label for="" class="float-start">Provide Banking Details:</label>
                                                <select id="subled" name="provide_banking" class=" float-end ">
                                                    <option value="True">Yes</option>
                                                    <option value="False" selected>No</option>
                                                </select>
                                            </div><br><br>
                                        </div>

                                        <div id="tax_resgistration_details">

                                            <div id="tax_uin" style="display: none;">
                                                <h6 class="text-decoration-underline flaot-start mb-3"
                                                    style="color: rgb(52, 52, 134);">
                                                    Tax Registraion Details</h6>
                                                <label for="" class="float-start">GSTIN/UIN:</label>
                                                <input name="Tgst_uin" type="text" class="float-end ">
                                            </div><br><br>
                                            <div id="tax_reg_typ" style="display: none;">
                                                <label for="" class="float-start">Registraion Type:</label>
                                                <select id="subled" name="Treg_typ"
                                                    class=" float-end form-control w-25">
                                                    <option value="" selected>Unknown</option>
                                                    <option value="Composition">Composition</option>
                                                    <option value="Consumer">Consumer</option>
                                                    <option value="Regular">Regular</option>
                                                    <option value="Unregistered">Unregistered</option>
                                                </select>
                                            </div><br><br>
                                            <div id="tax_pan" style="display: none;">
                                                <label for="" class="float-start">PAN/IT No:</label>
                                                <input name="Tpan_no" type="number" class="float-end ">
                                            </div><br><br>
                                            <div id="tax_alter_gst" style="display: none;">
                                                <label for="" class="float-start">Set/Alter GST details:</label>
                                                <select id="subled" name="T_alter_gst" class=" float-end ">
                                                    <option value="True">Yes</option>
                                                    <option value="False" selected>No</option>
                                                </select>
                                            </div><br><br>
                                        </div>


                                    </div>
                                </div>

                            </div>

                            <div class="row mt-3">
                                <div class="col-4"></div>
                                <div class="col-4 text-center"><label class="" for="">Opening Balance:</label>
                                    <input name="Lopening" type="text" style="border: hidden;" placeholder="000"
                                        class="border">

                                    <br>
                                    <button class="btn btn-success w-25 fw-bold m-2">CREATE</button>
                                </div>
                                <div class="col-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </form>

</div>








<script>
    $(document).ready();
</script>


{% endblock body %}