{% extends "base.html" %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<div class="container">
    <div class="w-100 border-bottom font-monospace text-black text-center mb-3" style="background-color:#b3d5d8ce ;">
        Employee [{{scid}}]</div>
    <form action="{% url 'stock_item' %}" method="post">
        <div class="row mt-1 border-bottom">
            <div class="col-4 py-1">
                <label for="" class="float-left">Name*:</label>
                <input type="text" class="float-end w-75" name="nam" id="Name" placeholder=""><br><br>
                <label for="" class="float-start">alias:</label>
                <input type="text" class="float-end w-75" name="alias" id=""><br><br>

                <label for="name" class="mt-2">Under*:</label>
                <select required id="under_main" name=" " class="form-control w-75  float-end">
                    <option value="Primary" selected>*Primary</option>
                    {% for i in obj %}
                    <option>{{i.name}}</option>
                    {% endfor %}

                </select><br><br>

            </div>

            <div class="col-8"> <label for="name" class="">Date of joining:</label>
                <input type="date" class="form-control float-end w-75"><br><br>
                <label for="name" class="">Define Salary details:</label>
                <select id="dsd" name="" id="" class="float-end" onchange="salarydts(this.value)">
                    <option value="True">Yes</option>
                    <option value="False" selected>No</option>
                </select>
            </div>

        </div>


        <div class="modal fade bd-example-modal-xl" data-bs-backdrop="static" tabindex="-1" role="dialog"
            aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content ">

                    <div class="container w-100 mt-3 " style="min-height: 50vh;overflow-y: auto;overflow-x: auto;">
                        <div class="row">
                            <div class="col-2">
                                <label id="name_modal" for="" class=""></label><br><br>

                                <label id="under_modal" for="name" class=""></label>

                            </div>
                            <div class="col-10"></div>
                        </div>
                        <div class="text-center text-decoration-underline my-2 fw-bold">Salary Deatails</div>
                        <table class=" text-center ">
                            <tr class="border-bottom">
                                <th style="font-size: 10px;">Effective from</th>
                                <th style="width: 25%;">Pay Head</th>
                                <th class="" style="width: 10%;">Rate</th>
                                <th class="">Per</th>
                                <th>Pay Head Type</th>
                                <th>Calculation Type</th>
                            </tr>
                            <tr class="">
                                <td class="border-end">
                                    <div class="p-2"><input type="date" class="cc "></div>
                                </td>
                                <td class="border-end">
                                    <div class="p-2"><input type="text" class="cc "></div>
                                </td>
                                <td class="border-end">
                                    <div class="p-2"><input type="text" class="cc w-75"></div>
                                </td>
                                <td class="border-end">
                                    <div class="p-2"><input type="text" class="cc w-75"></div>
                                </td>
                                <td class="border-end">
                                    <div class="p-2"><input type="text" class="cc "></div>
                                </td>
                                <td class="border-end">
                                    <div class="p-2"><input type="text" class="cc "></div>
                                </td>
                            </tr>


                        </table>
                        <style>
                            th {
                                border-bottom: 2px solid;
                            }


                            .cc {
                                border: hidden;
                            }

                            tr {
                                margin-top: 50px;
                            }
                        </style>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="btn_define" type="button" class="btn btn-primary">Add</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="task-container">
            <div class="row border-bottom py-5">
                <div class="col-6 border-end">
                    <div id="" class="">
                        <h6 class="text-decoration-underline flaot-start my-3" style="color: rgb(52, 52, 136);">
                            General Information</h6>
                    </div>
                    <div>
                        <label for="" class="float-start">Employee Number:</label>
                        <input type="text" class="float-end mt-1 w-50"><br><br>
                    </div>
                    <div>
                        <label for="" class="float-start">Desigination:</label>
                        <input type="text" class="float-end mt-1 w-50"><br><br>
                    </div>
                    <div>
                        <label for="" class="float-start">Function</label>
                        <input type="text" class="float-end mt-1 w-50"><br><br>
                    </div>
                    <div>
                        <label for="" class="float-start">Location:</label>
                        <input type="text" class="float-end mt-1 w-50"><br><br>
                    </div>
                    <div>
                        <label for="" class="float-start">Gender:</label>
                        <select name="bg" class="form-control w-50 float-end">
                            <option value="" disabled selected>Select*</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Transgender</option>

                        </select><br><br>
                    </div>
                    <div>
                        <label for="" class="float-start">Date Of Birth:</label>
                        <input id="dtf" type="date" class="float-end mt-1 form-control w-50" max=''><br><br>

                    </div>
                    <div>
                        <label for="" class="float-start">Blood Group:</label>
                        <select name="bg" class="form-control w-50 float-end">
                            <option>A Positive</option>
                            <option>A Negative</option>
                            <option>A Unknown</option>
                            <option>B Positive</option>
                            <option>B Negative</option>
                            <option>B Unknown</option>
                            <option>AB Positive</option>
                            <option>AB Negative</option>
                            <option>AB Unknown</option>
                            <option>O Positive</option>
                            <option>O Negative</option>
                            <option>O Unknown</option>
                            <option selected>Unknown</option>
                        </select><br><br>
                    </div>
                    <div>
                        <label for="" class="float-start">Father's/Mothers's name:</label>
                        <input type="text" class="float-end mt-1 w-50"><br><br>
                    </div>
                    <div>
                        <label for="" class="float-start">Spouse's name:</label>
                        <input type="text" class="float-end mt-1 w-50"><br><br>
                    </div>
                    <div>
                        <label for="" class="float-start">Address:</label>
                        <input type="text" class="float-end mt-1 w-50"><br><br>
                    </div>
                    <div>
                        <label for="" class="float-start">Phone no:</label>
                        <input type="text" class="float-end mt-1 w-50"><br><br>
                    </div>
                    <div>
                        <label for="" class="float-start">E-Mail:</label>
                        <input type="email" class="float-end mt-1 w-50"><br><br>
                    </div>

                </div>
                <div class="col-6">
                    <div class="mt-3">
                        <label for="name" class="">Provide bank details:</label>
                        <select name="" id="" class="float-end" onchange="provide_bankdts(this.value)">
                            <option value="True" onclick="provide_bankdts(this.value)">Yes</option>
                            <option value="False" selected>No</option>
                        </select>
                    </div>

                    <!-- bank details -->
                    <div class="modal fade" id="provide_bankdts-modal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Bank Account Details</h5>
                                    <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="">
                                        <label for="" class="float-start">A/c No:</label>
                                        <input type="text" class="float-end">
                                    </div><br><br>
                                    <div>
                                        <label for="" class="float-start">IFSC Code:</label>
                                        <input type="text" class="float-end">
                                    </div><br><br>
                                    <div>
                                        <label for="" class="float-start">Bank Name:</label>
                                        <input type="text" class="float-end">
                                    </div><br><br>
                                    <div>
                                        <label for="" class="float-start">Branch:</label>
                                        <input type="text" class="float-end">
                                    </div><br><br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="">
                        <h6 class="text-decoration-underline flaot-start my-3" style="color: rgb(52, 52, 136);">
                            Satutory Details</h6>
                    </div>
                    <div>
                        <label for="" class="float-start">Income Tax Number<small>(PAN)</small>:</label>
                        <input type="text" class="w-50 float-end">
                    </div><br><br>
                    <div>
                        <label for="" class="float-start">Aadhaar number:</label>
                        <input type="text" class="w-50 float-end">
                    </div><br><br>
                    <div>
                        <label for="" class="float-start">Universal Account Number<small
                                style="font-size: 10px;">(UAN):</small></label>
                        <input type="text" class="w-50 float-end">
                    </div><br><br>
                    <div>
                        <label for="" class="float-start">PF Account Number:</label>
                        <input type="text" class="w-50 float-end">
                    </div><br><br>
                    <div>
                        <label for="" class="float-start">PR Account Number:</label>
                        <input type="text" class="w-50 float-end">
                    </div><br><br>
                    <div>
                        <label for="" class="float-start">ESI Number:</label>
                        <input type="text" class="w-50 float-end">
                    </div><br><br>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-4 text-center"></div>

                <button class="btn btn-success w-25 fw-bold m-2" type="submit">CREATE</button>
            </div>
            <div class="col-4"></div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('#Name').blur(function () {
            var name = $('#Name').val();
            if (name.length == 0) {
                // $('#Name').next(".red").remove(); 
                //$('#Name').after('<div class="red mt-3 text-danger text-center">Name is Required</div>');
                $('#Name').attr('placeholder', 'Required*')
            }
            else {
                //$('#Name').next(".red").remove(); 
                return true;
            }

        })


    })
    $(document).ready(function () {

        let n = $('#dsd').val()
        console.log(n)
        salarydts(n)


    })
    function salarydts(arg) {
        var name = document.getElementById('Name').value;
        document.getElementById('name_modal').innerHTML = "Name: " + name
        var und = $('#under_main').val()
        //console.log(und)
        document.getElementById('under_modal').innerHTML = "Under: " + und


        x = arg
        if (x == 'True' && name.length >= 1) {
            $('.bd-example-modal-xl').modal('show')
        } else {
            //pass
        }

    }
    function provide_bankdts(val) {
        const ipt = val
        if (ipt == 'True') {
            $('#provide_bankdts-modal').modal('show')
        }

    }

</script>
{% endblock body %}