{% extends "base.html" %}

{% block body %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class=" min-vh-100">
    <div class="row p-4">
        <div class=" m-0 p-0 col-7 container-fluid">
            <div class=" bg-light border-bottom py-3" style="width: 100%;height: 80px;">
                <div class="mx-4" style="float:left">
                    <small class="font-monospace  p-0">CURRENT PERIOD</small><br>
                    <small>Date</small>
                </div>
                <div class="mx-3" style="float: right;">
                    <small class="font-monospace  p-0">CURRENT DATE</small><br>
                    <small>Date</small>
                </div>
            </div>
            <div class="py-4 mt-0" style="border-bottom: solid;">
                <small class="mx-3" style="float: left;font-size: 12px;">NAME OF COMPANY</small>
                <small class="mx-2" style="float: right;font-size: 12px;">DATE OF LAST ENTRY</small>
            </div>
            <div class="row p-2 h-25 h-auto">
                <div class="col float-start">
                    <p class="mx-2"><strong>{{s.cname}}</strong></p>
                </div>
                <div class="col ">
                    <p class="mx-3 float-end">No Vouchers Entered</p>
                </div>
            </div>
            <div class="h-auto">
                {% for i in sc %}
                <div class="col float-start">
                    <p class="mx-2"><a href="{% url 'log_company' i.cid.id %}">{{i.cid.cname}}</a>
                    <p>
                </div><br>
                <div class="col ">
                    <p class="mx-3 float-end">No Vouchers Entered</p>
                </div><br>
                {% endfor %}
            </div>
        </div>
        <div class="col-4 py-3">
            <div id="w1" class=" w-75 p-5 mx-auto h-auto my-auto mt-5"
                style="position: relative;background-color: rgb(226, 247, 248);min-height: 75vh;">
                <div class=" w-100 text-center text-white"
                    style="position: absolute;top: 0;left: 0;background-color: #123d82;">
                    Gate way of Tally</div>
                <div>
                    <h6 class="my-2 font-monospace">MASTERS</h6>
                    <a id="btn_create" href="#">Create</a><br>
                    <a href="">Alter</a><br>
                    <a href="">Chart Of Accounts</a><br>
                    <h6 class="my-2 font-monospace">TRANSACTIONS</h6>
                    <a href="">Vouchers</a><br>
                    <a href="">Day BooK</a><br>
                    <h6 class="my-2 font-monospace">UTILITIES</h6>
                    <a href="">Banking</a><br>
                    <p class="my-2 font-monospace">REPORTS</p>
                    <a href="">Balance Sheet</a><br>
                    <a href="">Profit & Loss A/c</a><br>
                    <a href="">Stock Summery</a><br>
                    <a href="">Ratio Analysis</a><br>

                </div>
            </div>
            <div id="w2" class=" w-75 p-5 mx-auto h-auto my-auto mt-5 "
                style="position: relative;background-color: rgb(226, 247, 248);min-height: 75vh;display: none;">
                <div class=" w-100 text-center text-white"
                    style="position: absolute;top: 0;left: 0;background-color: #123d82;">
                    List of Masters</div>
                <div>
                    <div class="border-bottom w-100">
                        <a href="#" onclick="list_company()">Company</a>

                    </div><br>
                    <h6 class="my-2 font-monospace">Accounting Masters</h6>
                    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="">Group</a><br>
                    <a href="{% url 'create_ledger' %}">Ledger</a><br>
                    <a href="" data-toggle="modal" data-target="#exampleModalCenter">Currency</a><br>
                    <a href="{% url 'create_voucher' %}">Voucher Type</a><br>
                    <h6 class="my-2 font-monospace">Inventory Masters</h6>
                    <a href="#" onclick="$('#stock_group').modal('show')">Stock Group</a><br>
                    <a href="#" onclick="$('#stock_category').modal('toggle')">Stock Category</a><br>
                    <a href="">Stock Item</a><br>
                    <a href="">Unit</a><br>
                    <a href="">Location</a><br>
                    <h6 class="my-2 font-monospace">Statutory Details</h6><br>
                    <a href="">GST Details</a><br>
                    <a href="">PAN/CIN Details</a><br>
                </div>
            </div>
            <div class="modal fade" id="stock_category" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Stock Category Creation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="stock_category_form" action="#" method="post">
                            {% csrf_token %}
                            <div class="modal-body p-3">
                                <div class="row">
                                    <div class="col-9 ">
                                        <div class="">
                                            <label id="kk" for="name" class="float-start my-2">Name:</label>
                                            <input id="st_cat_name" value="" onfocus="this.value=''" type="text"
                                                class="float-end w-50 my-2" required><br><br>
                                            <label for="name" class="float-start my-2">(Alias):</label>
                                            <input id="st_cat_alias" type="text"
                                                class="float-end w-50 my-2"><br><br><br>
                                            <label for="name" class="float-start my-2">Under:</label>
                                            <select id="st_gp_under" name="und" class="w-50 form-control float-end ">
                                                <option value="primary" selected>*Primary</option>

                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button id="st_cat_btn" type="button" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- stock group pop -->
            <div class="modal fade" id="stock_group" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Stock Group Creation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="stock_group_form" action="" method="post">
                            {% csrf_token %}
                            <div class="modal-body p-3">
                                <div class="row">
                                    <div class="col-9 ">
                                        <div class="">
                                            <label id="kk" for="name" class="float-start my-2">Name:</label>
                                            <input id="st_gp_name" value="" onfocus="this.value=''" type="text"
                                                class="float-end w-50 my-2" required><br><br>
                                            <label for="name" class="float-start my-2">(Alias):</label>
                                            <input id="st_gp_alias" type="text" class="float-end w-50 my-2"><br><br><br>
                                            <label for="name" class="float-start my-2">Under:</label>
                                            <select id="st_gp_under" name="und" class="w-50 form-control float-end ">
                                                <option value="primary" selected>*Primary</option>

                                            </select>
                                        </div>
                                        <br>
                                        <br>
                                        <div>
                                            <label for="name" class="float-start mt-2 " style="font-size: 14px;">Groups
                                                Should quantities of item be added:</label>
                                            <select id="sqan_itm_be_added" name="subled" class=" float-end  mt-2"
                                                style="max-width: 70px;">
                                                <option value="True">Yes</option>
                                                <option value="False" selected>No</option>

                                            </select><br><br>
                                            <label for="name" class="float-start mt-2 " style="font-size: 14px;">
                                                Set/Alter GST Details:</label>
                                            <select id="sqan_itm_be_added" name="subled" class=" float-end  mt-2"
                                                style="max-width: 70px;">
                                                <option value="True">Yes</option>
                                                <option value="False" selected>No</option>

                                            </select><br><br>

                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button id="st_gp_btn" type="button" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Currency Creation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form id="currency_form" action="" method="post">
                                    {% csrf_token %}

                                    <div class="col-1"></div>
                                    <div class="col-10">
                                        <div id="c">
                                            <label for="" class="float-start">Symbol</label>
                                            <input id="c_symbol" type="text" class="float-end w-25" required>
                                        </div><br>
                                        <div id="c" class="mt-3">
                                            <label for="" class="float-start">Formal name:</label>
                                            <input id="c_fname" type="text" class="float-end w-25" required>
                                        </div><br>
                                        <div id="c" class="mt-3">
                                            <label for="" class="float-start">ISO currency Code:</label>
                                            <input id="c_iso_code" type="text" class="float-end w-25" required>
                                        </div><br>
                                        <div id="c" class="mt-3">
                                            <label for="" class="float-start">Number of decimal places:</label>
                                            <input id="c_decimal_pls" type="text" class="float-end w-25">
                                        </div><br>
                                        <div id="c" class="mt-3">
                                            <label for="" class="float-start">Show amount in millions:</label>
                                            <select name="" id="c_amount_millons" class="float-end w-25">
                                                <option value="True">Yes</option>
                                                <option value="False" selected>No</option>

                                            </select>
                                        </div><br>
                                        <div id="c" class="mt-3">
                                            <label for="" class="float-start">Suffix symbol to amount:</label>
                                            <select name="" id="c_suffix" class="float-end w-25">
                                                <option value="True">Yes</option>
                                                <option value="False" selected>No</option>

                                            </select>
                                        </div><br>
                                        <div id="c" class="mt-3">
                                            <label for="" class="float-start">space between amount and symbol:</label>
                                            <select name="" id="c_space" class="float-end w-25">
                                                <option value="True">Yes</option>
                                                <option value="False" selected>No</option>

                                            </select>
                                        </div><br>
                                        <div id="c" class="mt-3">
                                            <label for="" class="float-start">word representing amount <br>after
                                                decimal:</label><br>
                                            <input id="c_word_rep" type="text" class="float-end w-25">
                                        </div><br>
                                        <div id="c" class="mt-3">
                                            <label for="" class="float-start">No.of decimal places for <br>amount after
                                                decimal:</label><br>
                                            <input id="c_decimal_places" type="text" class="float-end w-25">
                                        </div><br>
                                    </div>

                                    <div class="col-1"></div>
                                </form>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="add_currency" type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="w3" class=" w-75 p-5 mx-auto h-auto my-auto mt-5 "
                style="position: relative;background-color: rgb(226, 247, 248);min-height: 75vh;display: none;">
                <div class=" w-100 text-center text-white"
                    style="position: absolute;top: 0;left: 0;background-color: #123d82;">
                    List of Companies</div>
                <div>
                    <div class="border-bottom w-100">
                        <a href="{% url 'create_company' %}">Create Company</a><br>
                        <a href="#" onclick="select_company()">Select Company</a><br>
                        <a href="#" onclick="alter_company()">Alter Company</a><br>
                        <a href="#" onclick="shut_company()">Shut Company</a><br>
                    </div><br>
                    {% for i in sc %}
                    <a href="{% url 'log_company' i.cid.id %}">{{i.cid.cname}}</a><br>
                    {% endfor %}
                </div>
            </div>
            <div id="shut_cmp" class=" w-75 p-5 mx-auto h-auto my-auto mt-5 "
                style="position: relative;background-color: rgb(226, 247, 248);min-height: 75vh;display: none;">
                <div class=" w-100 text-center text-white"
                    style="position: absolute;top: 0;left: 0;background-color: #123d82;">
                    Shut Companies</div>
                <div>
                    {% for i in sc %}
                    <a href="{% url 'shut_company' i.id %}">{{i.cid.cname}}</a><br>
                    {% endfor %}
                </div>
            </div>
            <div id="alter_cmp" class=" w-75 p-5 mx-auto h-auto my-auto mt-5 "
                style="position: relative;background-color: rgb(226, 247, 248);min-height: 75vh;display: none;">
                <div class=" w-100 text-center text-white"
                    style="position: absolute;top: 0;left: 0;background-color: #123d82;">
                    Alter Companies</div>
                <div>
                    {% for i in sc %}
                    <a href="{% url 'alter_company' i.id %}">{{i.cid.cname}}</a><br>
                    {% endfor %}
                </div>
            </div>
            <div id="w4" class=" w-75 p-5 mx-auto h-auto my-auto mt-5 "
                style="position: relative;background-color: rgb(226, 247, 248);min-height: 75vh;display: none;">
                <div class=" w-100 text-center text-white"
                    style="position: absolute;top: 0;left: 0;background-color: #123d82;">
                    Select Company</div>
                <div>
                    <div class="border-bottom w-100">
                        <a href="{% url 'create_company' %}">Create Company</a><br>




                    </div><br>
                    {% for i in obj %}
                    <a href="{% url 'selected_companies' i.id %}">{{i.cname}}</a><br>

                    {% endfor %}


                </div>



            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="myForm" action="{% url 'create_group' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body p-3">
                        <div class="row">
                            <div class="col-9 ">
                                <div class="">
                                    <label id="kk" for="name" class="float-start my-2">Name:</label>
                                    <input id="gname" value="" onfocus="this.value=''" name="gname" type="text"
                                        class="float-end w-50 my-2" required><br><br>
                                    <label for="name" class="float-start my-2">(Alias):</label>
                                    <input id="alia" name="alia" type="text" class="float-end w-50 my-2"><br><br><br>
                                    <label for="name" class="float-start my-2">Under:</label>
                                    <select id="under" name="und" class="w-50 form-control float-end ">
                                        <option value="primary" selected>*Primary</option>

                                        {% for i in grp %}

                                        <option value="{{i.name}}">{{i.name}}</option>

                                        {% if i.alias is not none %}
                                        <option value="{{i.alias}}">{{i.alias}}</option>

                                        {% endif %}

                                        {% endfor %}
                                    </select>
                                </div>
                                <br>
                                <br>
                                <div>
                                    <label for="name" class="float-start mt-2 " style="font-size: 14px;">Groups behaves
                                        like
                                        a sub-ledger:</label>
                                    <select id="subled" name="subled" class=" float-end  mt-2" style="max-width: 70px;">
                                        <option value="True">Yes</option>
                                        <option value="False" selected>No</option>

                                    </select><br><br>
                                    <label for="name" class="float-start mt-2" style="font-size: 14px;">Nett
                                        Debit/Credit
                                        Balance for Reporting:</label>
                                    <select id="nett" name="nee" class=" float-end  mt-2" style="max-width: 70px;">
                                        <option value="True">Yes</option>
                                        <option value="False" selected>No</option>

                                    </select><br><br>
                                    <label for="name" class="float-start mt-2" style="font-size: 14px;">Used for
                                        calculation
                                        <br><small style="font-size: 10px;">(for example:taxes,discounts,Sales invoice
                                            entries)</small>:</label>
                                    <select id="cal" name="cal" class=" float-end  mt-2" style="max-width: 70px;">
                                        <option value="True">Yes</option>
                                        <option value="False" selected>No</option>

                                    </select><br><br>
                                    <label for="name" class="float-start mt-2" style="font-size: 14px;">
                                        Method to allocate when used <br> in purchase invoice:</label>
                                    <select id="meth" name="meth" class=" float-end  mt-2" style="max-width: 140px;">
                                        <option value="" selected>Not Applicable</option>
                                        <option value="Appropriate by Qty">Appropriate by Qty</option>
                                        <option value="Appropriate by Value">Appropriate by Value</option>
                                    </select><br><br>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="cbtn" type="button" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="alert_danger" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
        aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="alert alert-danger w-100">
                    <strong>Not Valid!!</strong> Re-check and Try again!!
                </div>
            </div>
        </div>
    </div>

    <div id="alert" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
        aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="alert alert-success">
                    <strong>Success!</strong> Value Added Successfuly..!
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#st_cat_btn').click(function () {
            console.log('clicked cat')
            let cat_name = $('#st_cat_name').val()
            let cat_alias = $('#st_cat_alias').val()
            let cat_under = $('#st_gp_under').val()

            dic = {
                cat_name: cat_name,
                cat_alias: cat_alias,
                cat_under: cat_under,
            }
            $.ajax({
                type: 'POST',
                url: '{% url "stock_category" %}',
                data: dic,
                dataType: "json",
                success: function (arg) {
                    if (arg.status === 1) {
                        document.getElementById("stock_category_form").reset();
                        $("#alert").modal('show');

                    }
                    else if (arg.status === 00) {
                        $('#alert_danger').modal('show');
                    }
                    else {
                        alert('unsuccess')
                    }

                }
            })
        });

    </script>
    <script>
        $('#st_gp_btn').click(function () {
            console.log('clicked')
            let name = $('#st_gp_name').val()
            let alias = $('#st_gp_alias').val()
            let under = $('#st_gp_under').val()
            let item_be_added = $('#sqan_itm_be_added').val()
            let alter = $('#sqan_itm_be_added').val()
            dic = {
                name: name,
                alias: alias,
                under: under,
                item_be_added: item_be_added,
                alter: alter,

            }
            $.ajax({
                type: 'POST',
                url: '{% url "stock_group" %}',
                data: dic,
                dataType: "json",
                success: function (arg) {
                    if (arg.status === 1) {
                        document.getElementById("stock_group_form").reset();
                        $("#alert").modal('show');

                    }
                    else if (arg.status === 00) {
                        $('#alert_danger').modal('show');
                    }
                    else {
                        alert('unsuccess')
                    }

                }


            })

        })
    </script>
    <script>
        $('#add_currency').click(function () {
            console.log('cliked')
            let symbol = $('#c_symbol').val()
            let fname = $('#c_fname').val()
            let iso_code = $('#c_iso_code').val()
            let n_deci_placs = $('#c_decimal_pls').val()
            let smt_millon = $('#c_amount_millons').val()
            let symbol_to_amount = $('#c_suffix').val()
            let space_bt_sy = $('#c_space').val()
            let amount_after_decimal = $('#c_word_rep').val()
            let amount_in_words = $('#c_decimal_places').val()

            dic = {
                symbol: symbol,
                fname: fname,
                iso_code: iso_code,
                n_deci_placs: n_deci_placs,
                smt_millon: smt_millon,
                symbol_to_amount: symbol_to_amount,
                space_bt_sy: space_bt_sy,
                amount_after_decimal: amount_after_decimal,
                amount_in_words: amount_in_words,
            }
            $.ajax({
                type: 'POST',
                url: '{% url "create_currency" %}',
                data: dic,
                dataType: "json",
                success: function (arg) {
                    if (arg.status === 1) {
                        document.getElementById("currency_form").reset();
                        $("#alert").modal('show');

                    }
                    else if (arg.status === 00) {
                        $('#alert_danger').modal('show');
                    }
                    else {
                        alert('unsuccess')
                    }

                }


            })
        })


    </script>



    <script>
        $('#cbtn').click(function () {

            let gname = $('#gname').val()
            let alia = $('#alia').val()
            let under = $('#under').val()
            let subled = $('#subled').val()
            let nett = $('#nett').val()
            let cal = $('#cal').val()
            let meth = $('#meth').val()
            if (alia == "") {
                alia;
                console.log("alia is none;")
            }
            dic = {
                gname: gname,
                alia: alia,
                und: under,
                subled: subled,
                nee: nett,
                cal: cal,
                meth: meth,
            }

            $.ajax({
                type: 'POST',
                url: '{% url "create_group" %}',
                data: dic,
                dataType: "json",
                success: function (arg) {
                    if (arg.status === 1) {
                        document.getElementById("myForm").reset();
                        $("#alert").modal('show');

                    }
                    else if (arg.status === 00) {
                        $('#alert_danger').modal('show');
                    }
                    else {
                        alert('unseccess')
                    }

                }


            })
        })

    </script>
    <script>

        let w1 = document.getElementById('w1')
        let w2 = document.getElementById('w2')
        let w3 = document.getElementById('w3')
        let w4 = document.getElementById('w4')
        let w5 = document.getElementById('shut_cmp')
        let w6 = document.getElementById('alter_cmp')
        let btn_create = document.getElementById('btn_create')

        btn_create.onclick = function () {
            w1.style.display = "none"
            w2.style.display = "block"
        }
        function list_company() {
            w1.style.display = "none"
            w2.style.display = "none"
            w3.style.display = "block"

        }
        function select_company() {
            w4.style.display = "block"
            w1.style.display = "none"
            w2.style.display = "none"
            w3.style.display = "none"

        }
        function shut_company() {
            w4.style.display = "none"
            w1.style.display = "none"
            w2.style.display = "none"
            w3.style.display = "none"
            w5.style.display = "block"

        }
        function alter_company() {

            w3.style.display = "none"

            w6.style.display = "block"
        }

    </script>
    <style>
        a {
            text-decoration: none;
        }
    </style>
    {% endblock body %}